[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
langchain = {extras = ["openai"], version = "*"}
langchain-community = "*"
langchain-text-splitters = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
